###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC6VLX240T-FF1759-2;

NET "pin_in_pult_rx"    LOC = "AL14";
NET "pin_out_pult_tx"   LOC = "AR17";
NET "pin_out_pult_dir"  LOC = "AL15";

NET "pin_in_edev_rx"    LOC = "AM18";
NET "pin_out_edev_tx"   LOC = "AV19";
NET "pin_out_edev_dir"  LOC = "AM17";

NET "pin_in_vizir_rx"   LOC = "AT19";
NET "pin_out_vizir_tx"  LOC = "AJ18";
NET "pin_out_vizir_dir" LOC = "AU19";

NET "pin_in_bup_rx"     LOC = "AK14";
NET "pin_out_bup_tx"    LOC = "AK18";
NET "pin_out_bup_dir"   LOC = "AK15";

#SYNC
NET "pin_in_pps"        LOC = "AN15";
NET "pin_in_1s"         LOC = "BB18";
NET "pin_in_1m"         LOC = "BB19";
NET "pin_out_1s"        LOC = "AN18";
NET "pin_out_1m"        LOC = "AN19";
NET "pin_out_s120Hz"    LOC = "AU17";
NET "pin_out_s120SAU"   LOC = "AT16";

NET "pin_out_TP<0>"   LOC = "AM14";
NET "pin_out_TP<1>"   LOC = "AL17";
NET "pin_out_TP<2>"   LOC = "AL16";

NET "pin_out_refclk_oe<0>"  LOC="M37";

###############################################################################
#
###############################################################################
NET "pin_out_led<4>" LOC = "N13" ;  #Bank 35 USR_LED1 DS24    +
NET "pin_out_led<5>" LOC = "M13" ;  #Bank 35 USR_LED2 DS25    -
NET "pin_out_led<6>" LOC = "N14" ;  #Bank 35 USR_LED3 DS26    -
NET "pin_out_led<7>" LOC = "B16" ;  #Bank 35 USR_LED5 DS20    +
NET "pin_out_led<0>" LOC = "M14" ;  #Bank 35 USR_LED4 DS27    -
NET "pin_out_led<1>" LOC = "A16" ;  #Bank 35 USR_LED6 DS21    +
NET "pin_out_led<2>" LOC = "F12" ;  #Bank 35 USR_LED8 DS23    +
NET "pin_out_led<3>" LOC = "E12" ;  #Bank 35 USR_LED7 DS22    +
NET "pin_out_led<*>" IOSTANDARD = LVCMOS25;


###############################################################################
#
###############################################################################
NET "pin_in_refclk_clk" LOC = "E14" | IOSTANDARD = LVCMOS25; ##ref_clk (100 MHz Oscillator)

NET "g_usrclk<2>" TNM_NET = TNM_PLL_TMR_CLK;
TIMESPEC TS_PLL_TMR_CLK = PERIOD TNM_PLL_TMR_CLK  10.0 ns HIGH 50%; # 100MHz

NET "g_usrclk<1>" TNM_NET = TNM_sys_clk;
TIMESPEC "TS_sys_clk" = PERIOD "TNM_sys_clk" 2.5 ns; # 400MHz clock to DDR3 memory infrastructure

NET "g_usrclk<0>" TNM_NET = TNM_clk_ref;
TIMESPEC "TS_clk_ref" = PERIOD "TNM_clk_ref" 5 ns ; # 200MHz

NET "g_usr_highclk" TNM_NET = TNM_MIG_CLK0;
TIMESPEC TS_MIG_CLK0= PERIOD TNM_MIG_CLK0 5 ns HIGH 50%; # 200MHz


#############################################################################
###############       Проект Ethernet        ################################
#############################################################################
##-- GMII
#NET "pin_in_ethphy_gmii[0]_rx_dv"   LOC = "H19" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXDV
#NET "pin_in_ethphy_gmii[0]_rxc"     LOC = "D23" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXCLK
#NET "pin_in_ethphy_gmii[0]_rxd<0>"  LOC = "L19" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD0
#NET "pin_in_ethphy_gmii[0]_rxd<1>"  LOC = "K19" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD1
#NET "pin_in_ethphy_gmii[0]_rxd<2>"  LOC = "D21" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD2
#NET "pin_in_ethphy_gmii[0]_rxd<3>"  LOC = "C21" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD3
#NET "pin_in_ethphy_gmii[0]_rxd<4>"  LOC = "L20" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD4
#NET "pin_in_ethphy_gmii[0]_rxd<5>"  LOC = "K20" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD5
#NET "pin_in_ethphy_gmii[0]_rxd<6>"  LOC = "A20" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD6
#NET "pin_in_ethphy_gmii[0]_rxd<7>"  LOC = "B21" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXD7
#NET "pin_in_ethphy_gmii[0]_rx_er"   LOC = "J20" ;# | IOSTANDARD = "LVCMOS25" ; #NET  PHYA_RXER

NET "pin_out_ethphy_gmii[0]_tx_en"  LOC = "F21" ;#NET  PHYA_TXEN
NET "pin_out_ethphy_gmii[0]_txc"    LOC = "J22" ;#NET  PHYA_GTXCLK
NET "pin_out_ethphy_gmii[0]_txd<0>" LOC = "C23" ;#NET  PHYA_TXD0
NET "pin_out_ethphy_gmii[0]_txd<1>" LOC = "C24" ;#NET  PHYA_TXD1
NET "pin_out_ethphy_gmii[0]_txd<2>" LOC = "F22" ;#NET  PHYA_TXD2
NET "pin_out_ethphy_gmii[0]_txd<3>" LOC = "G22" ;#NET  PHYA_TXD3
NET "pin_out_ethphy_gmii[0]_txd<4>" LOC = "A24" ;#NET  PHYA_TXD4
NET "pin_out_ethphy_gmii[0]_txd<5>" LOC = "B24" ;#NET  PHYA_TXD5
NET "pin_out_ethphy_gmii[0]_txd<6>" LOC = "H23" ;#NET  PHYA_TXD6
NET "pin_out_ethphy_gmii[0]_txd<7>" LOC = "G23" ;#NET  PHYA_TXD7
NET "pin_out_ethphy_gmii[0]_tx_er"  LOC = "E22" ;#NET  PHYA_TXER
NET "pin_out_ethphy_gmii[0]_rst"    LOC = "J21" | PULLUP ;#| IOSTANDARD = "LVCMOS25"; #NET  PHYA_RESET
NET "pin_inout_ethphy_mdio" LOC = "D20" ;#| IOSTANDARD = "LVCMOS25"; #NET  PHYA_MDIO
NET "pin_out_ethphy_mdc"    LOC = "C20" ;#| IOSTANDARD = "LVCMOS25"; #NET  PHYA_MDC

#--------------------------
#-- FIBER - SFP-A
#--------------------------
NET "pin_out_ethphy_fiber_sfp_txdis"  LOC = "AV16"; #HTG: SFP_A_TX_DIS  ## 3   on U14
NET "pin_in_ethphy_fiber_sfp_sd"      LOC = "AM12"; #HTG: SFP_A_LOS     ## 8   on U14

NET "pin_in_refclk_fiber_clk_p" LOC =  "Y8" | DIFF_TERM = TRUE;# | IOSTANDARD = "LVDS_25"; ## 7    on U31 ETHERNET CLOCK, 625MHZ SGMII, PHY A & B
NET "pin_in_refclk_fiber_clk_n" LOC =  "Y7" | DIFF_TERM = TRUE;# | IOSTANDARD = "LVDS_25"; ## 16   on U31 ETHERNET CLOCK, 625MHZ SGMII, PHY A & B

# Locate the Tri-Mode Ethernet MAC instance
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*v6_emac" LOC = "TEMAC_X0Y0";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*gtx0_v6_gtxwizard_i?gtxe1_i" LOC = "GTXE1_X0Y8";##pins HTG

##-----------  EMAC(16bit)-----------
# CLOCK CONSTRAINTS
# The following constraints are required. If you choose to not use the example
# design level of wrapper hierarchy, the net names should be translated to
# match your design.

# Ethernet MAC reference clock driven by transceiver
NET "i_ethphy_out_clk"  TNM_NET = "clk_gt_clk"; #NET "clk125_o" TNM_NET = "clk_gt_clk";
NET "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/clk125_pre_bufg" TNM_NET = "clk125_clk";
NET "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/clk2x_pre_bufg"  TNM_NET = "clk2x_clk";
TIMEGRP "emac_core_gt_clk" = "clk125_clk" "clk2x_clk";
TIMESPEC "TS_emac_core_gt_clk" = PERIOD "clk_gt_clk" 8 ns HIGH 50 %;

# Ensure that reset and MMCM lock signals at TEMAC input are timed to clk125
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*v6_emac" TNM = "temac_inst";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*emac_core_block_inst?reset_r_3" TNM = "reset_for_temac";
NET "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/client_mmcm_locked_i" TNM = "mmcm_locked_for_temac";
TIMEGRP "temac_clk125_exceptions" = "reset_for_temac" "mmcm_locked_for_temac";
TIMESPEC "TS_temac_clk125_exceptions" = FROM "temac_clk125_exceptions" TO "temac_inst" TS_emac_core_gt_clk DATAPATHONLY;

# Group the clock crossing signals into timing groups
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?rd_tran_frame_tog"    TNM = "tx_fifo_rd_to_wr";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?rd_addr_txfer*"       TNM = "tx_fifo_rd_to_wr";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?rd_txfer_tog"         TNM = "tx_fifo_rd_to_wr";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?wr_frame_in_fifo"     TNM = "tx_fifo_wr_to_rd";

TIMESPEC "TS_tx_fifo_rd_to_wr" = FROM "tx_fifo_rd_to_wr" TO "emac_core_gt_clk" 8 ns DATAPATHONLY;
TIMESPEC "TS_tx_fifo_wr_to_rd" = FROM "tx_fifo_wr_to_rd" TO "emac_core_gt_clk" 8 ns DATAPATHONLY;

# Reduce clock period to allow for metastability settling time
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?wr_tran_frame_tog"    TNM = "tx_metastable";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?wr_rd_addr*"          TNM = "tx_metastable";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?wr_txfer_tog"         TNM = "tx_metastable";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?frame_in_fifo"        TNM = "tx_metastable";
TIMESPEC "TS_tx_meta_protect" = FROM "tx_metastable" 5 ns DATAPATHONLY;

# Transmit-side client FIFO address bus timing
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?rd_addr_txfer*" TNM = "tx_addr_rd";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?tx_fifo_i?wr_rd_addr*"    TNM = "tx_addr_wr";
TIMESPEC "TS_tx_fifo_addr" = FROM "tx_addr_rd" TO "tx_addr_wr" 10 ns;

# LocalLink client FIFO receive-side constraints
# Group the clock crossing signals into timing groups
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?rx_fifo_i?wr_store_frame_tog" TNM = "rx_fifo_wr_to_rd";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?rx_fifo_i?rd_addr_gray*"      TNM = "rx_fifo_rd_to_wr";

TIMESPEC "TS_rx_fifo_wr_to_rd" = FROM "rx_fifo_wr_to_rd" TO "emac_core_gt_clk" 8 ns DATAPATHONLY;
TIMESPEC "TS_rx_fifo_rd_to_wr" = FROM "rx_fifo_rd_to_wr" TO "emac_core_gt_clk" 8 ns DATAPATHONLY;

# Reduce clock period to allow for metastability settling time
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?rx_fifo_i?wr_rd_addr_gray_sync*" TNM = "rx_metastable";
INST "m_eth/gen_use_on.m_main/m_phy/gen_fiber.m_if/*client_side_FIFO?rx_fifo_i?rd_store_frame_tog"    TNM = "rx_metastable";
TIMESPEC "TS_rx_meta_protect" = FROM "rx_metastable" 5 ns;


#############################################################################
###############       Проект PCI-Express     ################################
#############################################################################
NET "pin_in_refclk_pciexp_clk_p" LOC = "AF8" | DIFF_TERM = TRUE;# | IOSTANDARD = "LVDS_25"; #HTG
NET "pin_in_refclk_pciexp_clk_n" LOC = "AF7" | DIFF_TERM = TRUE;# | IOSTANDARD = "LVDS_25"; #HTG

#Functional reset to the card
NET "pin_in_pciexp_rstn" TIG;
NET "pin_in_pciexp_rstn" LOC = "AY19" |IOSTANDARD = LVCMOS25 | PULLUP | NODELAY ;
#NET "pin_out_pciexp_waken" LOC = "BA19" # | IOSTANDARD = LVCMOS25; #HTG

INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[0].GTX" LOC = GTXE1_X0Y4; # PCIe Lane 0
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[1].GTX" LOC = GTXE1_X0Y5; # PCIe Lane 1
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[2].GTX" LOC = GTXE1_X0Y6; # PCIe Lane 2
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[3].GTX" LOC = GTXE1_X0Y7; # PCIe Lane 3
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[4].GTX" LOC = GTXE1_X0Y0; # PCIe Lane 4
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[5].GTX" LOC = GTXE1_X0Y1; # PCIe Lane 5
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[6].GTX" LOC = GTXE1_X0Y2; # PCIe Lane 6
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[7].GTX" LOC = GTXE1_X0Y3; # PCIe Lane 7

INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_block_i" LOC = PCIE_X0Y0;

INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_bram_i/pcie_brams_rx/brams[1].ram/use_ramb36*.ramb36*" LOC = RAMB36_X7Y12;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_bram_i/pcie_brams_rx/brams[0].ram/use_ramb36*.ramb36*" LOC = RAMB36_X7Y10;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_bram_i/pcie_brams_tx/brams[0].ram/use_ramb36*.ramb36*" LOC = RAMB36_X7Y11;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_bram_i/pcie_brams_tx/brams[1].ram/use_ramb36*.ramb36*" LOC = RAMB36_X7Y9 ;

###----------  For PCIE-Express (x4) - 2.5G (pcie refclk - 250MHz) ----------
#NET "g_usrclk<3>" TNM_NET = "PCIEXP_SYSCLK" ;
#NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_125" TNM_NET = "PCIEXP_CLK_125" ;
#NET "m_host/gen_sim_off.m_pcie/m_core/TxOutClk_bufg" TNM_NET = "PCIEXP_TXOUTCLKBUFG";
#
#TIMESPEC "TS_PCIEXP_SYSCLK"  = PERIOD "PCIEXP_SYSCLK" 250 MHz HIGH 50 % PRIORITY 100 ;
#TIMESPEC "TS_PCIEXP_CLK_125"  = PERIOD "PCIEXP_CLK_125" TS_PCIEXP_SYSCLK/2 HIGH 50 % PRIORITY 1 ;
#TIMESPEC "TS_PCIEXP_TXOUTCLKBUFG"  = PERIOD "PCIEXP_TXOUTCLKBUFG" 250 MHz HIGH 50 % PRIORITY 100 ;
#
#PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_int_i.CLR" TIG ;
#PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_i.CLR" TIG ;
#PIN "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/mmcm_adv_i.RST" TIG ;
#
#NET "g_host_clk" TNM_NET = "HOST_CLK";
#TIMESPEC "TS_HOST_CLK" = PERIOD "HOST_CLK" 125 MHz HIGH 50 % ;

##----------  For PCIE-Express (x4) - 5G (pcie refclk - 250MHz) ----------
NET "g_usrclk<3>" TNM_NET = "PCIEXP_SYSCLK" ;
NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_125" TNM_NET = "PCIEXP_CLK_125" ;
NET "m_host/gen_sim_off.m_pcie/m_core/TxOutClk_bufg" TNM_NET = "PCIEXP_TXOUTCLKBUFG";
NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_250" TNM_NET = "PCIEXP_CLK_250" ;

TIMESPEC "TS_PCIEXP_SYSCLK"  = PERIOD "PCIEXP_SYSCLK" 250 MHz HIGH 50 % ;
TIMESPEC "TS_PCIEXP_CLK_125"  = PERIOD "PCIEXP_CLK_125" TS_PCIEXP_SYSCLK/2 HIGH 50 % PRIORITY 100 ;
TIMESPEC "TS_PCIEXP_TXOUTCLKBUFG"  = PERIOD "PCIEXP_TXOUTCLKBUFG" 250 MHz HIGH 50 % PRIORITY 100 ;
TIMESPEC "TS_PCIEXP_CLK_250" = PERIOD "PCIEXP_CLK_250" TS_PCIEXP_SYSCLK*1 HIGH 50 % PRIORITY 1;

NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/sel_lnk_rate_d" TIG ;
PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_int_i.CLR" TIG ;
PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_i.CLR" TIG ;
PIN "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/mmcm_adv_i.RST" TIG ;

NET "g_host_clk" TNM_NET = "HOST_CLK";
TIMESPEC "TS_HOST_CLK" = PERIOD "HOST_CLK" 250 MHz HIGH 50 % ;

#TIMESPEC "TS_RESETN" = FROM FFS(*) TO FFS(trn_reset_n_i) 8 ns;

##-----------  For PCIE-Express (x8) - 2.5G (pcie refclk - 250MHz) -----------
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[4].GTX" LOC = GTXE1_X0Y0; # PCIe Lane 4
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[5].GTX" LOC = GTXE1_X0Y1; # PCIe Lane 5
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[6].GTX" LOC = GTXE1_X0Y2; # PCIe Lane 6
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[7].GTX" LOC = GTXE1_X0Y3; # PCIe Lane 7
#
#NET "g_usrclk<3>" TNM_NET = "PCIEXP_SYSCLK" ;
#NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_125" TNM_NET = "PCIEXP_CLK_125" ;
#NET "m_host/gen_sim_off.m_pcie/m_core/TxOutClk_bufg" TNM_NET = "PCIEXP_TXOUTCLKBUFG";
#NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_250" TNM_NET = "PCIEXP_CLK_250" ;
#
#TIMESPEC "TS_PCIEXP_SYSCLK"  = PERIOD "PCIEXP_SYSCLK" 250 MHz HIGH 50 % ;
#TIMESPEC "TS_PCIEXP_CLK_125"  = PERIOD "PCIEXP_CLK_125" TS_PCIEXP_SYSCLK/2 HIGH 50 % PRIORITY 100 ;
#TIMESPEC "TS_PCIEXP_TXOUTCLKBUFG"  = PERIOD "PCIEXP_TXOUTCLKBUFG" 250 MHz HIGH 50 % PRIORITY 100 ;
#TIMESPEC "TS_PCIEXP_CLK_250" = PERIOD "PCIEXP_CLK_250" TS_PCIEXP_SYSCLK*1 HIGH 50 % PRIORITY 1;
#
#PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_int_i.CLR" TIG ;
#PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_i.CLR" TIG ;
#PIN "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/mmcm_adv_i.RST" TIG ;
#
#TIMESPEC "TS_RESETN" = FROM FFS(*) TO FFS(trn_reset_n_i) 8 ns;
#
#NET "g_host_clk" TNM_NET = "HOST_CLK";
#TIMESPEC "TS_HOST_CLK" = PERIOD "HOST_CLK" 250 MHz HIGH 50 % ;

###-----------  For PCIE-Express (x8) - 5G (pcie refclk - 250MHz) -----------
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[4].GTX" LOC = GTXE1_X0Y0; # PCIe Lane 4
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[5].GTX" LOC = GTXE1_X0Y1; # PCIe Lane 5
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[6].GTX" LOC = GTXE1_X0Y2; # PCIe Lane 6
#INST "m_host/gen_sim_off.m_pcie/m_core/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[7].GTX" LOC = GTXE1_X0Y3; # PCIe Lane 7
#
#NET "g_usrclk<3>" TNM_NET = "PCIEXP_SYSCLK" ;
#NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_125" TNM_NET = "PCIEXP_CLK_125" ;
#NET "m_host/gen_sim_off.m_pcie/m_core/TxOutClk_bufg" TNM_NET = "PCIEXP_TXOUTCLKBUFG";
#NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_250" TNM_NET = "PCIEXP_CLK_250" ;
#NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/clk_500" TNM_NET = "PCIEXP_CLK_500" ;
#
#TIMESPEC "TS_PCIEXP_SYSCLK"  = PERIOD "PCIEXP_SYSCLK" 250 MHz HIGH 50 % ;
#TIMESPEC "TS_PCIEXP_CLK_125"  = PERIOD "PCIEXP_CLK_125" TS_PCIEXP_SYSCLK/2 HIGH 50 % PRIORITY 100 ;
#TIMESPEC "TS_PCIEXP_TXOUTCLKBUFG"  = PERIOD "PCIEXP_TXOUTCLKBUFG" 250 MHz HIGH 50 % PRIORITY 100 ;
#TIMESPEC "TS_PCIEXP_CLK_250" = PERIOD "PCIEXP_CLK_250" TS_PCIEXP_SYSCLK*1 HIGH 50 % PRIORITY 10;
#TIMESPEC "TS_PCIEXP_CLK_500" = PERIOD "PCIEXP_CLK_500" TS_PCIEXP_SYSCLK*2 HIGH 50 % PRIORITY 1;
#
#NET "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/sel_lnk_rate_d" TIG ;
#PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_int_i.CLR" TIG ;
#PIN "m_host/gen_sim_off.m_pcie/m_core/trn_reset_n_i.CLR" TIG ;
#PIN "m_host/gen_sim_off.m_pcie/m_core/pcie_clocking_i/mmcm_adv_i.RST" TIG ;
#
##TIMESPEC "TS_RESETN" = FROM FFS(*) TO FFS(trn_reset_n_i) 4 ns;
#
#NET "g_host_clk" TNM_NET = "HOST_CLK";
#TIMESPEC "TS_HOST_CLK" = PERIOD "HOST_CLK" 250 MHz HIGH 50 % ;



###############################################################################
### AXI: MEMEORY ARBITER BANK0
###############################################################################
NET "m_mem_arb/gen_chcount_3.m_arb/*_resync*" TNM = FFS "mem_arbch_reset_resync";
NET "m_mem_arb/gen_chcount_3.m_arb/*INTERCONNECT_ARESETN" TNM = FFS "mem_arbch_reset_resync";
TIMEGRP "mem_arbch_reset_source" = FFS PADS;
TIMESPEC "TS_mem_arbch_reset_resync" = FROM "mem_arbch_reset_source" TO "mem_arbch_reset_resync" TIG;



########################################################################
# Controller 0
# Memory Device: DDR3_SDRAM->SODIMMs->MT8JSF25664HZ-1G4
# Data Width:     64
# Frequency:      400
# Time Period:      2500
# Data Mask:     1
########################################################################

# Constrain BUFR clocks used to synchronize data from IOB to fabric logic
# Note that ISE cannot infer this from other PERIOD constraints because
# of the use of OSERDES blocks in the BUFR clock generation path
NET "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/clk_rsync[?]" TNM_NET = TNM_clk_rsync;
TIMESPEC "TS_clk_rsync" = PERIOD "TNM_clk_rsync" 5 ns;

# Paths between DQ/DQS ISERDES.Q outputs and CLB flops clocked by falling
# edge of BUFR will by design only be used if DYNCLKDIVSEL is asserted for
# that particular flop. Mark this path as being a full-cycle, rather than
# a half cycle path for timing purposes. NOTE: This constraint forces full-
# cycle timing to be applied globally for all rising->falling edge paths
# in all resynchronizaton clock domains. If the user had modified the logic
# in the resync clock domain such that other rising->falling edge paths
# exist, then constraint below should be modified to utilize pattern
# matching to specific affect only the DQ/DQS ISERDES.Q outputs
TIMEGRP "TG_clk_rsync_rise" = RISING  "TNM_clk_rsync";
TIMEGRP "TG_clk_rsync_fall" = FALLING "TNM_clk_rsync";
TIMESPEC "TS_clk_rsync_rise_to_fall" =
  FROM "TG_clk_rsync_rise" TO "TG_clk_rsync_fall" "TS_sys_clk" * 2;

# Signal to select between controller and physical layer signals. Four divided by two clock
# cycles (4 memory clock cycles) are provided by design for the signal to settle down.
# Used only by the phy modules.
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_init/u_ff_phy_init_data_sel" TNM = "TNM_PHY_INIT_SEL";
TIMESPEC "TS_MC_PHY_INIT_SEL" = FROM "TNM_PHY_INIT_SEL" TO FFS = "TS_sys_clk"*4;

################################################################################
# I/O STANDARDS
################################################################################
NET  "pin_inout_phymem[0]_dq<*>"     IOSTANDARD = SSTL15_T_DCI;
NET  "pin_out_phymem[0]_a<*>"        IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_ba<*>"       IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_ras_n"       IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_cas_n"       IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_we_n"        IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_rst_n"       IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_cke<*>"      IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_odt<*>"      IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_cs_n<*>"     IOSTANDARD = SSTL15;
NET  "pin_out_phymem[0]_dm<*>"       IOSTANDARD = SSTL15;
NET  "pin_inout_phymem[0]_dqs_p<*>"  IOSTANDARD = DIFF_SSTL15_T_DCI;
NET  "pin_inout_phymem[0]_dqs_n<*>"  IOSTANDARD = DIFF_SSTL15_T_DCI;
NET  "pin_out_phymem[0]_ck_p<*>"     IOSTANDARD = DIFF_SSTL15;
NET  "pin_out_phymem[0]_ck_n<*>"     IOSTANDARD = DIFF_SSTL15;




###############################################################################
#DCI_CASCADING
#Syntax : CONFIG DCI_CASCADE = "<master> <slave1> <slave2> ..";
###############################################################################
CONFIG DCI_CASCADE = "14 15 16";


##################################################################################
# Location Constraints
##################################################################################
NET  "pin_inout_phymem[0]_dq<0>"      LOC = "AL39" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<1>"      LOC = "AK39" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<2>"      LOC = "AG33" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<3>"      LOC = "AF32" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<4>"      LOC = "AL40" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<5>"      LOC = "AK40" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<6>"      LOC = "AF36" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<7>"      LOC = "AF35" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<8>"      LOC = "AL41" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<9>"      LOC = "AG36" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<10>"     LOC = "AM42" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<11>"     LOC = "AL42" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<12>"     LOC = "AK37" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<13>"     LOC = "AJ35" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<14>"     LOC = "AJ38" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<15>"     LOC = "AG34" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<16>"     LOC = "AH40" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<17>"     LOC = "AG38" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<18>"     LOC = "AH41" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<19>"     LOC = "AG42" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<20>"     LOC = "AG39" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<21>"     LOC = "AF39" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<22>"     LOC = "AG41" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<23>"     LOC = "AF40" ;   #Bank 14 +
NET  "pin_inout_phymem[0]_dq<24>"     LOC = "AE34" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<25>"     LOC = "AE35" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<26>"     LOC = "AB37" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<27>"     LOC = "AB38" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<28>"     LOC = "AB39" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<29>"     LOC = "AA40" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<30>"     LOC = "AC38" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<31>"     LOC = "AA41" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<32>"     LOC = "AE38" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<33>"     LOC = "AD38" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<34>"     LOC = "AB36" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<35>"     LOC = "AE32" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<36>"     LOC = "AD37" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<37>"     LOC = "AD41" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<38>"     LOC = "AB32" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<39>"     LOC = "AB33" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<40>"     LOC = "AD40" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<41>"     LOC = "AD36" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<42>"     LOC = "AD42" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<43>"     LOC = "AE42" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<44>"     LOC = "AF42" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<45>"     LOC = "AF41" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<46>"     LOC = "AC34" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<47>"     LOC = "AC33" ;   #Bank 15 +
NET  "pin_inout_phymem[0]_dq<48>"     LOC = "W37" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<49>"     LOC = "Y37" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<50>"     LOC = "U37" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<51>"     LOC = "U38" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<52>"     LOC = "W36" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<53>"     LOC = "V36" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<54>"     LOC = "U42" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<55>"     LOC = "U41" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<56>"     LOC = "AA36" ;   #Bank 16 +
NET  "pin_inout_phymem[0]_dq<57>"     LOC = "U39" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<58>"     LOC = "V39" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<59>"     LOC = "W35" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<60>"     LOC = "V35" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<61>"     LOC = "Y42" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dq<62>"     LOC = "U32" ;    #Bank 16 #Y32 +
NET  "pin_inout_phymem[0]_dq<63>"     LOC = "U33" ;    #Bank 16 +
NET  "pin_out_phymem[0]_a<13>"        LOC = "K33" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<12>"        LOC = "K32" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<11>"        LOC = "N28" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<10>"        LOC = "P28" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<9>"         LOC = "K35" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<8>"         LOC = "K34" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<7>"         LOC = "L31" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<6>"         LOC = "L32" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<5>"         LOC = "J37" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<4>"         LOC = "N29" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<3>"         LOC = "N30" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<2>"         LOC = "H39" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<1>"         LOC = "H38" ;    #Bank 25 +
NET  "pin_out_phymem[0]_a<0>"         LOC = "L35" ;    #Bank 25 +
NET  "pin_out_phymem[0]_ba<2>"        LOC = "L36" ;    #Bank 25 +
NET  "pin_out_phymem[0]_ba<1>"        LOC = "J38" ;    #Bank 25 +
NET  "pin_out_phymem[0]_ba<0>"        LOC = "K37" ;    #Bank 25 +
NET  "pin_out_phymem[0]_ras_n"        LOC = "L37" ;    #Bank 25 +
NET  "pin_out_phymem[0]_cas_n"        LOC = "H40" ;    #Bank 25 +
NET  "pin_out_phymem[0]_we_n"         LOC = "H41" ;    #Bank 25 +
NET  "pin_out_phymem[0]_rst_n"        LOC = "M34" ;    #Bank 25 +
NET  "pin_out_phymem[0]_cke<0>"       LOC = "K39" ;    #Bank 25 +
#NET  "pin_out_phymem[0]_cke<1>"       LOC = "K40" ;    #Bank 25 +
NET  "pin_out_phymem[0]_odt<0>"       LOC = "M31" ;    #Bank 25 +
#NET  "pin_out_phymem[0]_odt<1>"       LOC = "N31" ;    #Bank 25 +
NET  "pin_out_phymem[0]_cs_n<0>"      LOC = "M33" ;    #Bank 25 +
#NET  "pin_out_phymem[0]_cs_n<1>"      LOC = "M32" ;    #Bank 25 +
NET  "pin_out_phymem[0]_dm<0>"        LOC = "AM41" ;   #Bank 14 +
NET  "pin_out_phymem[0]_dm<1>"        LOC = "AJ41" ;   #Bank 14 +
NET  "pin_out_phymem[0]_dm<2>"        LOC = "AF34" ;   #Bank 14 +
NET  "pin_out_phymem[0]_dm<3>"        LOC = "AB41" ;   #Bank 15 +
NET  "pin_out_phymem[0]_dm<4>"        LOC = "AC40" ;   #Bank 15 +
NET  "pin_out_phymem[0]_dm<5>"        LOC = "AE40" ;   #Bank 15 +
NET  "pin_out_phymem[0]_dm<6>"        LOC = "Y39" ;    #Bank 16 +
NET  "pin_out_phymem[0]_dm<7>"        LOC = "Y40" ;    #Bank 16 +

NET  "pin_inout_phymem[0]_dqs_p<0>"   LOC = "AH39" ;    #Bank 14 +
NET  "pin_inout_phymem[0]_dqs_n<0>"   LOC = "AJ40" ;    #Bank 14 +
NET  "pin_inout_phymem[0]_dqs_p<1>"   LOC = "AF37" ;    #Bank 14 +
NET  "pin_inout_phymem[0]_dqs_n<1>"   LOC = "AG37" ;    #Bank 14 +
NET  "pin_inout_phymem[0]_dqs_p<2>"   LOC = "AJ42" ;    #Bank 14 +
NET  "pin_inout_phymem[0]_dqs_n<2>"   LOC = "AK42" ;    #Bank 14 +
NET  "pin_inout_phymem[0]_dqs_p<3>"   LOC = "AE33" ;    #Bank 15 +
NET  "pin_inout_phymem[0]_dqs_n<3>"   LOC = "AD33" ;    #Bank 15 +
NET  "pin_inout_phymem[0]_dqs_p<4>"   LOC = "AA42" ;    #Bank 15 +
NET  "pin_inout_phymem[0]_dqs_n<4>"   LOC = "AB42" ;    #Bank 15 +
NET  "pin_inout_phymem[0]_dqs_p<5>"   LOC = "AC35" ;    #Bank 15 +
NET  "pin_inout_phymem[0]_dqs_n<5>"   LOC = "AB34" ;    #Bank 15 +
NET  "pin_inout_phymem[0]_dqs_p<6>"   LOC = "AA35" ;    #Bank 16 +
NET  "pin_inout_phymem[0]_dqs_n<6>"   LOC = "Y35" ;     #Bank 16 +
NET  "pin_inout_phymem[0]_dqs_p<7>"   LOC = "V38" ;     #Bank 16 +
NET  "pin_inout_phymem[0]_dqs_n<7>"   LOC = "W38" ;     #Bank 16 +
NET  "pin_out_phymem[0]_ck_p<0>"      LOC = "P27" ;     #Bank 25 +
NET  "pin_out_phymem[0]_ck_n<0>"      LOC = "R27" ;     #Bank 25 +
NET  "pin_out_phymem[0]_ck_p<1>"      LOC = "R28" ;     #Bank 25 +
NET  "pin_out_phymem[0]_ck_n<1>"      LOC = "R29" ;     #Bank 25 +

##################################################################################################
##The following locations must be reserved and cannot be used for external I/O because          ##
##the I/O elements associated with these sites (IODELAY, OSERDES, and associated routing)       ##
##are used to generate and route the clocks necessary for read data capture and synchronization ##
##to the core clock domain. These pins should not be routed out on the user's PCB               ##
##################################################################################################

##################################################################################################
##The logic of this pin is used internally to drive a BUFR in the column. This chosen pin must  ##
##be a clock pin capable of spanning to all of the banks containing data bytes in the particular##
##column. That is, all byte groups must be within +/- 1 bank of this pin. This pin cannot be    ##
##used for other functions and should not be connected externally. If a different pin is chosen,##
##he corresponding LOC constraint must also be changed.                                         ##
##################################################################################################

CONFIG PROHIBIT = AC36;

######################################################################################
##Place RSYNC OSERDES and IODELAY:                                                  ##
######################################################################################

##Site: AC36 -- Bank 15
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_oserdes_rsync"
  LOC = "OLOGIC_X0Y143";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync"
  LOC = "IODELAY_X0Y143";

INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_bufr_rsync"
  LOC = "BUFR_X0Y7";

##################################################################################################
##The logic of this pin is used internally to drive a BUFIO for the byte group. Any clock       ##
##capable pin in the same bank as the data byte group (DQS, DQ, DM if used) can be used for     ##
##this pin. This pin cannot be used for other functions and should not be connected externally. ##
##If a different pin is chosen, the corresponding LOC constraint must also be changed.          ##
##################################################################################################

CONFIG PROHIBIT = AH34;  # Bank 14   14
CONFIG PROHIBIT = AJ37;  # Bank 14   14
CONFIG PROHIBIT = AK38;  # Bank 14   14
CONFIG PROHIBIT = AC41;  # Bank 15   15
CONFIG PROHIBIT = AD32;  # Bank 15   15
CONFIG PROHIBIT = AE37;  # Bank 15   15
CONFIG PROHIBIT = W32;   # Bank 16   16
CONFIG PROHIBIT = V34;   # Bank 16   16

######################################################################################
##Place CPT OSERDES and IODELAY:                                                    ##
######################################################################################

##Site: AH34 -- Bank 14
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y101";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_odelay_cpt"
  LOC = "IODELAY_X0Y101";

##Site: AJ37 -- Bank 14
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y99";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_odelay_cpt"
  LOC = "IODELAY_X0Y99";

##Site: AK38 -- Bank 14
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y103";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_odelay_cpt"
  LOC = "IODELAY_X0Y103";

##Site: AC41 -- Bank 15
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y137";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_odelay_cpt"
  LOC = "IODELAY_X0Y137";

  ##Site: AD32 -- Bank 15
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[4].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y141";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[4].u_odelay_cpt"
  LOC = "IODELAY_X0Y141";

##Site: AE37 -- Bank 15
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[5].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y139";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[5].u_odelay_cpt"
  LOC = "IODELAY_X0Y139";

##Site: W32 -- Bank 16
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[6].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y181";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[6].u_odelay_cpt"
  LOC = "IODELAY_X0Y181";

##Site: V34 -- Bank 16
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[7].u_oserdes_cpt"
  LOC = "OLOGIC_X0Y179";
INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[7].u_odelay_cpt"
  LOC = "IODELAY_X0Y179";

######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################

INST "m_mem_ctrl/gen_bank[0].m_mem_core/u_infrastructure/u_mmcm_adv"      LOC = "MMCM_ADV_X0Y6"; #Banks 15, 25, 35


#############################################################################
###############            FLASH             ################################
#############################################################################
NET  "pin_out_prom_a<0>"        LOC="AW13";
NET  "pin_out_prom_a<1>"        LOC="AW12";
NET  "pin_out_prom_a<2>"        LOC="BB14";
NET  "pin_out_prom_a<3>"        LOC="BB13";
NET  "pin_out_prom_a<4>"        LOC="AU13";
NET  "pin_out_prom_a<5>"        LOC="AU12";
NET  "pin_out_prom_a<6>"        LOC="AW15";
NET  "pin_out_prom_a<7>"        LOC="AY15";
NET  "pin_out_prom_a<8>"        LOC="AR13";
NET  "pin_out_prom_a<9>"        LOC="AP13";
NET  "pin_out_prom_a<10>"       LOC="AU14";
NET  "pin_out_prom_a<11>"       LOC="AV15";
NET  "pin_out_prom_a<12>"       LOC="AT12";
NET  "pin_out_prom_a<13>"       LOC="AR12";
NET  "pin_out_prom_a<14>"       LOC="BA14";
NET  "pin_out_prom_a<15>"       LOC="BA15";
NET  "pin_out_prom_a<16>"       LOC="AW17";
NET  "pin_out_prom_a<17>"       LOC="AY17";
NET  "pin_out_prom_a<18>"       LOC="AR15";
NET  "pin_out_prom_a<19>"       LOC="AP15";
NET  "pin_out_prom_a<20>"       LOC="BB17";
NET  "pin_out_prom_a<21>"       LOC="BB16";
NET  "pin_out_prom_a<22>"       LOC="AT14";
NET  "pin_out_prom_a<23>"       LOC="AJ31";

NET  "pin_inout_prom_d<0>"      LOC="U31";
NET  "pin_inout_prom_d<1>"      LOC="T31";
NET  "pin_inout_prom_d<2>"      LOC="AL32";
NET  "pin_inout_prom_d<3>"      LOC="AK32";
NET  "pin_inout_prom_d<4>"      LOC="R33";
NET  "pin_inout_prom_d<5>"      LOC="P32";
NET  "pin_inout_prom_d<6>"      LOC="AH33";
NET  "pin_inout_prom_d<7>"      LOC="AJ33";
NET  "pin_inout_prom_d<8>"      LOC="P33";
NET  "pin_inout_prom_d<9>"      LOC="N33";
NET  "pin_inout_prom_d<10>"     LOC="AG31";
NET  "pin_inout_prom_d<11>"     LOC="AH31";
NET  "pin_inout_prom_d<12>"     LOC="R30";
NET  "pin_inout_prom_d<13>"     LOC="T30";
NET  "pin_inout_prom_d<14>"     LOC="AF31";
NET  "pin_inout_prom_d<15>"     LOC="AG32";

NET  "pin_out_prom_we_n"        LOC="V31";
NET  "pin_out_prom_cs_n"        LOC="AH30";
NET  "pin_out_prom_oe_n"        LOC="AJ30";
NET  "pin_in_prom_wt"           LOC="R32";

