###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC6SLX100T-FGG676-2;

#Светодиоды
NET pin_out_led<0>        LOC="A2"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED0
NET pin_out_led<1>        LOC="H9"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED1
NET pin_out_led<2>        LOC="G11"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED2
NET pin_out_led<3>        LOC="J12"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED3
NET pin_out_led<4>        LOC="G10"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED4
NET pin_out_led<5>        LOC="B4"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED5
NET pin_out_led<6>        LOC="D5"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED6
NET pin_out_led<7>        LOC="K12"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: LED7

NET pin_out_led_C         LOC="G7"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт
NET pin_out_led_E         LOC="H8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт
NET pin_out_led_N         LOC="G8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт
NET pin_out_led_S         LOC="F7"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт
NET pin_out_led_W         LOC="C3"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт

##Тестовые точки
NET pin_out_TP<0>         LOC="V6"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_0
NET pin_out_TP<1>         LOC="V5"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_1
NET pin_out_TP<2>         LOC="V7"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_2
NET pin_out_TP<3>         LOC="U8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_3
NET pin_out_TP<4>         LOC="U7"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_4
NET pin_out_TP<5>         LOC="T8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_5
NET pin_out_TP<6>         LOC="U9"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_6
NET pin_out_TP<7>         LOC="N8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TP3_7

###Кнопки
NET pin_in_rst            LOC="B5"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: SW0
NET pin_in_btn_C          LOC="A4"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: SW1
NET pin_in_btn_E          LOC="A5"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: SW2
NET pin_in_btn_N          LOC="H10"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: SW3
NET pin_in_btn_S          LOC="B3"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт
NET pin_in_btn_W          LOC="G6"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт

#UART 0 (Подключен к PC)
NET pin_in_uart0_rx       LOC="AG15" | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт
NET pin_out_uart0_tx      LOC="AG20" | IOSTANDARD=LVCMOS33; #Сигнал на схеме: не используемый контакт

NET pin_inout_ftdi_d<0>   LOC="AA2"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D0_USB
NET pin_inout_ftdi_d<1>   LOC="AA1"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D1_USB
NET pin_inout_ftdi_d<2>   LOC="AA4"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D2_USB
NET pin_inout_ftdi_d<3>   LOC="AA3"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D3_USB
NET pin_inout_ftdi_d<4>   LOC="Y3"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D4_USB
NET pin_inout_ftdi_d<5>   LOC="W3"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D5_USB
NET pin_inout_ftdi_d<6>   LOC="V3"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D6_USB
NET pin_inout_ftdi_d<7>   LOC="V4"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: D7_USB
NET pin_out_ftdi_rd_n     LOC="T4"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: RD_USB
NET pin_out_ftdi_wr_n     LOC="U4"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: WR_USB
NET pin_in_ftdi_txe_n     LOC="W2"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: TXE_USB
NET pin_in_ftdi_rxf_n     LOC="W1"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: RXF_USB
NET pin_in_ftdi_pwren_n   LOC="Y1"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме: PWREN_USB

#150MHz
NET "pin_in_refclk_n"     LOC="A12"; #Сигнал на схеме: REFCLK_N
NET "pin_in_refclk_p"     LOC="B12"; #Сигнал на схеме: REFCLK_P

NET "g_host_clk" PERIOD = 5.0ns HIGH 50%;


#############################################################################
###############       Проект SATA       #####################################
#############################################################################
#--------------------------------------------------------------------------
#Назначение пинов
#--------------------------------------------------------------------------
NET "pin_in_sata_clk_p<0>" LOC="B16"; #Сигнал на схеме: REFCLKs1_P
NET "pin_in_sata_clk_n<0>" LOC="A16"; #Сигнал на схеме: REFCLKs1_N
INST "gen_sata_gt[0].ibufds_hdd_gt_refclk"   DIFF_TERM = "TRUE" ;

##SATA1 - Разъем J40
##SATA2 - Разъем J41
#--------------------------------------------------------------------------
#Расположение компоненов в кристале
#--------------------------------------------------------------------------
#INST "m_hdd/m_dsn_sata/m_dcm_sata"     LOC=DCM_ADV_X0Y4; #Модуль sata_dcm.vhd

##Для случая generic G_USE_HDD : string:="OFF";
#INST "m_hdd/gen_use_off.m_sata_gt/m_gt"  LOC=GTP_DUAL_X0Y2;

#Для случая generic G_USE_HDD : string:="ON";
INST "m_hdd/gen_use_on.m_dsn_sata/gen_satah[0].m_satah/gen_sim_off.m_gt/m_gt"  LOC=GTP_DUAL_X0Y2;



##--------------------------------------------------------------------------
##Временные ограничения
##--------------------------------------------------------------------------
NET g_uart_refclk PERIOD = 6.666 ns;
NET m_hdd/gen_use_on.m_dsn_sata/g_sh_dcm_clk PERIOD = 6.666 ns;
NET m_hdd/gen_use_on.m_dsn_sata/g_sh_dcm_clk2x PERIOD = 3.333 ns;
NET m_hdd/gen_use_on.m_dsn_sata/g_sh_dcm_clk2div PERIOD = 13.332 ns;

TIMEGRP SATA0_PHY_FFS = FFS (m_hdd/gen_use_on.m_dsn_sata/gen_satah[0].m_satah/gen_sim_off.m_gt/*);
TIMESPEC "TS_SATA0_PHY_FFS2MGT" = FROM SATA0_PHY_FFS  TO HSIOS           6.666ns;
TIMESPEC "TS_MGT2SATA0_PHY_FFS" = FROM HSIOS          TO SATA0_PHY_FFS   6.666ns;

#####INST m_hdd/LB_MOD_USE_ON.LB_DUAL_GTP[0].m_sata_host_i" AREA_GROUP = "AG_SATA_DUAL_GTP0";
#####AREA_GROUP "AG_SATA_DUAL_GTP0" RANGE = SLICE_X20Y64:SLICE_X58Y36;

