###########################################
#UCF файл для Отладочной платы ML505 (Virtex5)
#FPGA: XC5VLX50T-1FFG1136
###########################################
###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC5VLX50T-FF1136-1;

##########################################################
#                                                        #
#   Set stepping level to ES, so that bitstream is       #
#   compatible with devices of all steppings.            #
#                                                        #
##########################################################
CONFIG STEPPING = ES;


#Светодиоды
NET pin_out_led<0>        LOC="H18"  | IOSTANDARD=LVCMOS25; #Сигнал на схеме:GPIO_LED_0     # Bank 3,  Vcco=2.5V, No DCI
NET pin_out_led<1>        LOC="L18"  | IOSTANDARD=LVCMOS25; #Сигнал на схеме:GPIO_LED_1     # Bank 3,  Vcco=2.5V, No DCI
NET pin_out_led<2>        LOC="G15"  | IOSTANDARD=LVCMOS25; #Сигнал на схеме:GPIO_LED_2     # Bank 3,  Vcco=2.5V, No DCI
NET pin_out_led<3>        LOC="AD26" | IOSTANDARD=LVCMOS18; #Сигнал на схеме:GPIO_LED_3     # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET pin_out_led<4>        LOC="G16"  | IOSTANDARD=LVCMOS25; #Сигнал на схеме:GPIO_LED_4     # Bank 3,  Vcco=2.5V, No DCI
NET pin_out_led<5>        LOC="AD25" | IOSTANDARD=LVCMOS18; #Сигнал на схеме:GPIO_LED_5     # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET pin_out_led<6>        LOC="AD24" | IOSTANDARD=LVCMOS18; #Сигнал на схеме:GPIO_LED_6     # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET pin_out_led<7>        LOC="AE24" | IOSTANDARD=LVCMOS18; #Сигнал на схеме:GPIO_LED_7     # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET pin_out_led_C         LOC="E8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_LED_C     # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_out_led_E         LOC="AG23" | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_LED_E     # Bank 2, Vcco=3.3V
NET pin_out_led_N         LOC="AF13" | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_LED_N     # Bank 2, Vcco=3.3V
NET pin_out_led_S         LOC="AG12" | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_LED_S     # Bank 2, Vcco=3.3V
NET pin_out_led_W         LOC="AF23" | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_LED_W     # Bank 2, Vcco=3.3V

##Тестовые точки
NET pin_out_TP<0>         LOC="H33"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_2   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET pin_out_TP<1>         LOC="H34"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_6   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET pin_out_TP<2>         LOC="G32"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_10  # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET pin_out_TP<3>         LOC="H32"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_12  # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
#NET pin_out_TP<4>         LOC="J34"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_16  # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
#NET pin_out_TP<5>         LOC="M32"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_20  # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
#NET pin_out_TP<6>         LOC="N34"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_24  # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
#NET pin_out_TP<7>         LOC="AA34" | IOSTANDARD=LVCMOS33; #Сигнал на схеме:HDR1_26  # Bank 13, Vcco=2.5V or 3.3V user selectable by J20 (SYSMON External Input: VAUXP[5]) J6-26

###Кнопки
NET pin_in_rst            LOC="E9"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме:FPGA_CPU_RESET_B  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_in_btn_C          LOC="AJ6"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_SW_C         # Bank 18, Vcco=3.3V, No DCI
NET pin_in_btn_E          LOC="AK7"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_SW_E         # Bank 18, Vcco=3.3V, No DCI
NET pin_in_btn_N          LOC="U8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_SW_N         # Bank 18, Vcco=3.3V, No DCI
NET pin_in_btn_S          LOC="V8"   | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_SW_S         # Bank 18, Vcco=3.3V, No DCI
NET pin_in_btn_W          LOC="AJ7"  | IOSTANDARD=LVCMOS33; #Сигнал на схеме:GPIO_SW_W         # Bank 18, Vcco=3.3V, No DCI

#UART 0 (Подключен к PC)
NET pin_in_uart0_rx       LOC="AG15" | IOSTANDARD=LVCMOS33; #Сигнал на схеме:FPGA_SERIAL1_RX  # Bank 4, Vcco=3.3V, No DCI
NET pin_out_uart0_tx      LOC="AG20" | IOSTANDARD=LVCMOS33; #Сигнал на схеме:FPGA_SERIAL1_TX  # Bank 4, Vcco=3.3V, No DCI

NET pin_inout_ftdi_d<0>   LOC="M10" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_inout_ftdi_d<1>   LOC="E11" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_inout_ftdi_d<2>   LOC="F11" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_inout_ftdi_d<3>   LOC="L8"  | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_inout_ftdi_d<4>   LOC="M8"  | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_inout_ftdi_d<5>   LOC="G12" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_inout_ftdi_d<6>   LOC="G11" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_inout_ftdi_d<7>   LOC="C13" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_out_ftdi_rd_n     LOC="B13" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_out_ftdi_wr_n     LOC="K9"  | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_in_ftdi_txe_n     LOC="K8"  | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_in_ftdi_rxf_n     LOC="J9"  | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET pin_in_ftdi_pwren_n   LOC="D12" | IOSTANDARD=LVCMOS33;  # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors

##200MHz
#NET "pin_in_refclk_n"     LOC="K19"; #Сигнал на схеме:CLK_FPGA_N           LOC="K19";   # Bank 3, Vcco=2.5V, No DCI
#NET "pin_in_refclk_p"     LOC="L19"; #Сигнал на схеме:CLK_FPGA_P           LOC="L19";   # Bank 3, Vcco=2.5V, No DCI
#
#NET "g_host_clk" PERIOD = 5.0ns HIGH 50%;


#############################################################################
###############       Проект SATA       #####################################
#############################################################################
#--------------------------------------------------------------------------
#Назначение пинов
#--------------------------------------------------------------------------
NET "pin_in_sata_clk_p<0>" LOC="Y4"; #Сигнал на схеме:SATACLK_QO_N    # Bank 114, MGTREFCLKN_114, GTP_DUAL_X0Y2
NET "pin_in_sata_clk_n<0>" LOC="Y3"; #Сигнал на схеме:SATACLK_QO_P    # Bank 114, MGTREFCLKP_114, GTP_DUAL_X0Y2
INST "gen_sata_gt[0].ibufds_hdd_gt_refclk"   DIFF_TERM = "TRUE" ;

##SATA1 - Разъем J40
##SATA2 - Разъем J41
#--------------------------------------------------------------------------
#Расположение компоненов в кристале
#--------------------------------------------------------------------------
#INST "m_hdd/m_dsn_sata/m_dcm_sata"     LOC=DCM_ADV_X0Y4; #Модуль sata_dcm.vhd

##Для случая generic G_USE_HDD : string:="OFF";
#INST "m_hdd/gen_use_off.m_sata_gt/m_gt"  LOC=GTP_DUAL_X0Y2;

#Для случая generic G_USE_HDD : string:="ON";
INST "m_hdd/gen_use_on.m_dsn_sata/gen_satah[0].m_satah/gen_sim_off.m_gt/m_gt"  LOC=GTP_DUAL_X0Y2;



##--------------------------------------------------------------------------
##Временные ограничения
##--------------------------------------------------------------------------
NET g_sata_refclkout PERIOD = 6.666 ns;
NET m_hdd/gen_use_on.m_dsn_sata/g_sh_dcm_clk PERIOD = 6.666 ns;
NET m_hdd/gen_use_on.m_dsn_sata/g_sh_dcm_clk2x PERIOD = 3.333 ns;
NET m_hdd/gen_use_on.m_dsn_sata/g_sh_dcm_clk2div PERIOD = 13.332 ns;

TIMEGRP SATA0_PHY_FFS = FFS (m_hdd/gen_use_on.m_dsn_sata/gen_satah[0].m_satah/gen_sim_off.m_gt/*);
TIMESPEC "TS_SATA0_PHY_FFS2MGT" = FROM SATA0_PHY_FFS  TO HSIOS           6.666ns;
TIMESPEC "TS_MGT2SATA0_PHY_FFS" = FROM HSIOS          TO SATA0_PHY_FFS   6.666ns;

#####INST m_hdd/LB_MOD_USE_ON.LB_DUAL_GTP[0].m_sata_host_i" AREA_GROUP = "AG_SATA_DUAL_GTP0";
#####AREA_GROUP "AG_SATA_DUAL_GTP0" RANGE = SLICE_X20Y64:SLICE_X58Y36;
