###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC5VLX50T-FF1136-1;



####################################################################
###############       Global        ################################
####################################################################
#--------------------------------------------------------------------------
#Назначение пинов
#--------------------------------------------------------------------------
NET "pin_out_led<0>" LOC="H18"  | IOSTANDARD=LVCMOS25;
NET "pin_out_led<1>" LOC="L18"  | IOSTANDARD=LVCMOS25;
NET "pin_out_led<2>" LOC="G15"  | IOSTANDARD=LVCMOS25;
NET "pin_out_led<3>" LOC="AD26" | IOSTANDARD=LVCMOS18;
NET "pin_out_led<4>" LOC="G16"  | IOSTANDARD=LVCMOS25;
NET "pin_out_led<5>" LOC="AD25" | IOSTANDARD=LVCMOS18;
NET "pin_out_led<6>" LOC="AD24" | IOSTANDARD=LVCMOS18;
NET "pin_out_led<7>" LOC="AE24" | IOSTANDARD=LVCMOS18;

NET "pin_in_btn_N"   LOC="U8"   | IOSTANDARD=LVCMOS33;


#############################################################################
###############       Проект Ethernet        ################################
#############################################################################
#NET "pin_in_ethphy_crs"     LOC = "E34"  ;#NET  PHY_CRS
#NET "pin_in_ethphy_col"     LOC = "B32"  ;#NET  PHY_COL
#NET "pin_in_ethphy_actn"    LOC = "H20"  ;#NET  PHY_INT
NET "pin_out_ethphy_rst"    LOC = "J14"  | PULLUP ;#NET  PHY_RESET
NET "pin_inout_ethphy_mdio" LOC = "H13"  ;#NET  PHY_MDIO
NET "pin_out_ethphy_mdc"    LOC = "H19"  ;#NET  PHY_MDC



#--------------------------
#---- SGMII(1000Mb)
#--------------------------
# EMAC0 Clocking
# 125MHz clock input from BUFG
NET "i_ethphy_out_clk" TNM_NET          = "clk_gtp";#NET "CLK125" TNM_NET          = "clk_gtp";
TIMEGRP  "emac_core_sgmii_gtp_clk"            = "clk_gtp";
TIMESPEC "TS_emac_core_sgmii_gtp_clk"         = PERIOD "emac_core_sgmii_gtp_clk" 8 ns HIGH 50 %;







##################################
# LocalLink Level constraints
##################################


# EMAC0 LocalLink client FIFO constraints.

INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_tran_frame_tog"    TNM = "tx_fifo_rd_to_wr_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_retran_frame_tog"  TNM = "tx_fifo_rd_to_wr_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_col_window_pipe_1" TNM = "tx_fifo_rd_to_wr_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_addr_txfer*"       TNM = "tx_fifo_rd_to_wr_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_txfer_tog"         TNM = "tx_fifo_rd_to_wr_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_frame_in_fifo"     TNM = "tx_fifo_wr_to_rd_0";

TIMESPEC "TS_tx_fifo_rd_to_wr_0" = FROM "tx_fifo_rd_to_wr_0" TO "emac_core_sgmii_gtp_clk" 8 ns DATAPATHONLY;
TIMESPEC "TS_tx_fifo_wr_to_rd_0" = FROM "tx_fifo_wr_to_rd_0" TO "emac_core_sgmii_gtp_clk" 8 ns DATAPATHONLY;


# Reduce clock period to allow 3 ns for metastability settling time
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_tran_frame_tog"    TNM = "tx_metastable_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_rd_addr*"          TNM = "tx_metastable_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_txfer_tog"         TNM = "tx_metastable_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?frame_in_fifo"        TNM = "tx_metastable_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_retran_frame_tog*" TNM = "tx_metastable_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_col_window_pipe_0" TNM = "tx_metastable_0";

TIMESPEC "ts_tx_meta_protect_0" = FROM "tx_metastable_0" 5 ns DATAPATHONLY;

INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_addr_txfer*"       TNM = "tx_addr_rd_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_rd_addr*"          TNM = "tx_addr_wr_0";
TIMESPEC "TS_tx_fifo_addr_0" = FROM "tx_addr_rd_0" TO "tx_addr_wr_0" 10ns;

## RX Client FIFO
# Group the clock crossing signals into timing groups
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?wr_store_frame_tog"   TNM = "rx_fifo_wr_to_rd_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?rd_addr_gray*"        TNM = "rx_fifo_rd_to_wr_0";

TIMESPEC "TS_rx_fifo_wr_to_rd_0" = FROM "rx_fifo_wr_to_rd_0" TO "emac_core_sgmii_gtp_clk" 8 ns DATAPATHONLY;
TIMESPEC "TS_rx_fifo_rd_to_wr_0" = FROM "rx_fifo_rd_to_wr_0" TO "emac_core_sgmii_gtp_clk" 8 ns DATAPATHONLY;


# Reduce clock period to allow for metastability settling time
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?wr_rd_addr_gray_sync*" TNM = "rx_metastable_0";
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?rd_store_frame_tog"    TNM = "rx_metastable_0";

TIMESPEC "ts_rx_meta_protect_0" = FROM "rx_metastable_0" 5 ns;


## Area constaint to place example design near embedded TEMAC. Constraint is
## optional and not necessary for a successful implementation of the design.
#INST v5_emac_ll/* AREA_GROUP = AG_v5_emac ;
#AREA_GROUP "AG_v5_emac" RANGE = CLOCKREGION_X1Y2,CLOCKREGION_X1Y3 ;

##################################
# EXAMPLE DESIGN Level constraints
##################################


# Place the transceiver components. Please alter to your chosen transceiver.
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*GTP_DUAL_1000X_inst?GTP_1000X?tile0_rocketio_wrapper_i?gtp_dual_i" LOC = "GTP_DUAL_X0Y3";
INST "pin_in_ethphy_sgmii_clk_p" LOC = "P4";#INST "MGTCLK_N" LOC = "Y3";
INST "pin_in_ethphy_sgmii_clk_n" LOC = "P3";#INST "MGTCLK_P" LOC = "Y4";

INST "m_eth/gen_use_on.m_main/m_phy/m_if/*v5_emac_block_inst?v5_emac_wrapper_inst?v5_emac" EMAC0_PHYINITAUTONEG_ENABLE = TRUE;
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*v5_emac_block_inst?v5_emac_wrapper_inst?v5_emac" EMAC0_TXFLOWCTRL_ENABLE = TRUE;
INST "m_eth/gen_use_on.m_main/m_phy/m_if/*v5_emac_block_inst?v5_emac_wrapper_inst?v5_emac" EMAC0_RXFLOWCTRL_ENABLE = TRUE;


##--------------------------
##---- SGMII(Tri-Mode)
##--------------------------
###################################
## BLOCK Level constraints
###################################
#
## EMAC0 Clocking
## 125MHz clock input from BUFG
#NET "i_ethphy_out_clk" TNM_NET          = "clk_gtp";#NET "CLK125" TNM_NET          = "clk_gtp";
#TIMEGRP  "emac_core_sgmii_gtp_clk"            = "clk_gtp";
#TIMESPEC "TS_emac_core_sgmii_gtp_clk"         = PERIOD "emac_core_sgmii_gtp_clk" 8 ns HIGH 50 %;
## EMAC0 Tri-speed clock input from BUFG
#NET "m_eth/gen_use_on.m_main/m_phy/m_if/client_clk_0" TNM_NET    = "clk_client0";
#TIMEGRP  "emac_core_sgmii_gtp_clk_client0"    = "clk_client0";
#TIMESPEC "TS_emac_core_sgmii_gtp_clk_client0" = PERIOD "emac_core_sgmii_gtp_clk_client0" 8 ns HIGH 50 %;
#
#
##-----------------------------------------------------------
## EMAC0 Fabric Rx Elastic Buffer Timing Constraints:       -
##-----------------------------------------------------------
#NET "m_eth/gen_use_on.m_main/m_phy/m_if/*GTP_DUAL_1000X_inst?RXRECCLK_0_BUFR" TNM_NET = "clk_rec_clk0";
#TIMEGRP  "emac_core_sgmii_client_rec_clk0"                        = "clk_rec_clk0";
#TIMESPEC "TS_emac_core_sgmii_rec_clk0"                            = PERIOD "emac_core_sgmii_client_rec_clk0" 8 ns HIGH 50 %;
#
## Control Gray Code delay and skew
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*GTP_DUAL_1000X_inst?rx_elastic_buffer_inst_0?rd_addr_gray_?" TNM = "rx_elastic_rd_to_wr_0";
#TIMESPEC "TS_rx_elastic_rd_to_wr_0" = FROM "rx_elastic_rd_to_wr_0" TO "clk_rec_clk0" 7.5 ns DATAPATHONLY;
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*GTP_DUAL_1000X_inst?rx_elastic_buffer_inst_0?wr_addr_gray_?" TNM = "elastic_metastable_0";
#TIMESPEC "ts_elastic_meta_protect_0" = FROM "elastic_metastable_0" 5 ns DATAPATHONLY;
#
## Reduce clock period to allow 3 ns for metastability settling time
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*GTP_DUAL_1000X_inst?rx_elastic_buffer_inst_0?rd_wr_addr_gray*" TNM = "rx_graycode_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*GTP_DUAL_1000X_inst?rx_elastic_buffer_inst_0?rd_occupancy*"    TNM = "rx_binary_0";
#TIMESPEC "ts_rx_buf_meta_protect_0" = FROM "rx_graycode_0" TO "rx_binary_0" 5 ns;
#
#
#
#
#
#
###################################
## LocalLink Level constraints
###################################
#
#
## EMAC0 LocalLink client FIFO constraints.
#
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_tran_frame_tog"    TNM = "tx_fifo_rd_to_wr_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_retran_frame_tog"  TNM = "tx_fifo_rd_to_wr_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_col_window_pipe_1" TNM = "tx_fifo_rd_to_wr_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_addr_txfer*"       TNM = "tx_fifo_rd_to_wr_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_txfer_tog"         TNM = "tx_fifo_rd_to_wr_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_frame_in_fifo"     TNM = "tx_fifo_wr_to_rd_0";
#
#TIMESPEC "TS_tx_fifo_rd_to_wr_0" = FROM "tx_fifo_rd_to_wr_0" TO "emac_core_sgmii_gtp_clk_client0" 8 ns DATAPATHONLY;
#TIMESPEC "TS_tx_fifo_wr_to_rd_0" = FROM "tx_fifo_wr_to_rd_0" TO "emac_core_sgmii_gtp_clk_client0" 8 ns DATAPATHONLY;
#
#
## Reduce clock period to allow 3 ns for metastability settling time
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_tran_frame_tog"    TNM = "tx_metastable_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_rd_addr*"          TNM = "tx_metastable_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_txfer_tog"         TNM = "tx_metastable_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?frame_in_fifo"        TNM = "tx_metastable_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_retran_frame_tog*" TNM = "tx_metastable_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_col_window_pipe_0" TNM = "tx_metastable_0";
#
#TIMESPEC "ts_tx_meta_protect_0" = FROM "tx_metastable_0" 5 ns DATAPATHONLY;
#
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?rd_addr_txfer*"       TNM = "tx_addr_rd_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?tx_fifo_i?wr_rd_addr*"          TNM = "tx_addr_wr_0";
#TIMESPEC "TS_tx_fifo_addr_0" = FROM "tx_addr_rd_0" TO "tx_addr_wr_0" 10ns;
#
### RX Client FIFO
## Group the clock crossing signals into timing groups
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?wr_store_frame_tog"   TNM = "rx_fifo_wr_to_rd_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?rd_addr_gray*"        TNM = "rx_fifo_rd_to_wr_0";
#
#TIMESPEC "TS_rx_fifo_wr_to_rd_0" = FROM "rx_fifo_wr_to_rd_0" TO "emac_core_sgmii_gtp_clk_client0" 8 ns DATAPATHONLY;
#TIMESPEC "TS_rx_fifo_rd_to_wr_0" = FROM "rx_fifo_rd_to_wr_0" TO "emac_core_sgmii_gtp_clk_client0" 8 ns DATAPATHONLY;
#
#
## Reduce clock period to allow for metastability settling time
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?wr_rd_addr_gray_sync*" TNM = "rx_metastable_0";
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*client_side_FIFO?rx_fifo_i?rd_store_frame_tog"    TNM = "rx_metastable_0";
#
#TIMESPEC "ts_rx_meta_protect_0" = FROM "rx_metastable_0" 5 ns;
#
#
### Area constaint to place example design near embedded TEMAC. Constraint is
### optional and not necessary for a successful implementation of the design.
##INST v5_emac_ll/* AREA_GROUP = AG_v5_emac ;
##AREA_GROUP "AG_v5_emac" RANGE = CLOCKREGION_X1Y2,CLOCKREGION_X1Y3 ;
#
###################################
## EXAMPLE DESIGN Level constraints
###################################
#
#
## Place the transceiver components. Please alter to your chosen transceiver.
#INST "m_eth/gen_use_on.m_main/m_phy/m_if/*GTP_DUAL_1000X_inst?GTP_1000X?tile0_rocketio_wrapper_i?gtp_dual_i" LOC = "GTP_DUAL_X0Y3";
#INST "pin_in_ethphy_sgmii_clk_p" LOC = "P4";#INST "MGTCLK_N" LOC = "Y3";
#INST "pin_in_ethphy_sgmii_clk_n" LOC = "P3";#INST "MGTCLK_P" LOC = "Y4";

