###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC7K325T-FFG676-2;

NET "pin_in_pult_rx"    LOC = "R26" | IOSTANDARD = LVCMOS15;
NET "pin_out_pult_tx"   LOC = "P26" | IOSTANDARD = LVCMOS15;
NET "pin_out_pult_dir"  LOC = "M25" | IOSTANDARD = LVCMOS15;

NET "pin_in_edev_rx"    LOC = "L25" | IOSTANDARD = LVCMOS15;
NET "pin_out_edev_tx"   LOC = "P24" | IOSTANDARD = LVCMOS15;
NET "pin_out_edev_dir"  LOC = "N24" | IOSTANDARD = LVCMOS15;

NET "pin_in_vizir_rx"   LOC = "N26" | IOSTANDARD = LVCMOS15;
NET "pin_out_vizir_tx"  LOC = "M26" | IOSTANDARD = LVCMOS15;
NET "pin_out_vizir_dir" LOC = "R25" | IOSTANDARD = LVCMOS15;

NET "pin_in_bup_rx"     LOC = "U20" | IOSTANDARD = LVCMOS15;
NET "pin_out_bup_tx"    LOC = "T18" | IOSTANDARD = LVCMOS15;
NET "pin_out_bup_dir"   LOC = "P16" | IOSTANDARD = LVCMOS15;

#SYNC
NET "pin_in_pps"        LOC = "N17" | IOSTANDARD = LVCMOS15;
NET "pin_in_1s"         LOC = "R16" | IOSTANDARD = LVCMOS15;
NET "pin_in_1m"         LOC = "R17" | IOSTANDARD = LVCMOS15;
NET "pin_out_1s"        LOC = "N18" | IOSTANDARD = LVCMOS15;
NET "pin_out_1m"        LOC = "M19" | IOSTANDARD = LVCMOS15;
NET "pin_out_s120Hz"    LOC = "U17" | IOSTANDARD = LVCMOS15;
NET "pin_out_s120SAU"   LOC = "T17" | IOSTANDARD = LVCMOS15;

NET "pin_out_TP<0>"   LOC = "R18" | IOSTANDARD = LVCMOS15;
NET "pin_out_TP<1>"   LOC = "P18" | IOSTANDARD = LVCMOS15;
NET "pin_out_TP<2>"   LOC = "U16" | IOSTANDARD = LVCMOS15;

###############################################################################
#
###############################################################################
NET "pin_out_led<7>" LOC = "B14" ;
NET "pin_out_led<6>" LOC = "A14" ;
NET "pin_out_led<5>" LOC = "B10" ;
NET "pin_out_led<4>" LOC = "A10" ;
NET "pin_out_led<3>" LOC = "B15" ;
NET "pin_out_led<2>" LOC = "A15" ;
NET "pin_out_led<1>" LOC = "A13" ;
NET "pin_out_led<0>" LOC = "A12" ;
NET "pin_out_led<*>" IOSTANDARD = LVCMOS25;


###############################################################################
#
###############################################################################
#Oscillator (default 400MHz) for DDR3 MINIDIMM
NET "pin_in_refclk_clk_p<0>" LOC = "AB11" | IOSTANDARD = LVDS;
NET "pin_in_refclk_clk_n<0>" LOC = "AC11" | IOSTANDARD = LVDS;
NET "pin_out_refclk_oe<0>"   LOC = "C12"  | IOSTANDARD = LVCMOS25;
NET "pin_out_refclk_sda<0>"  LOC = "C9"  | IOSTANDARD = LVCMOS25;
NET "pin_out_refclk_scl<0>"  LOC = "B9"  | IOSTANDARD = LVCMOS25;

##Oscillator (default 400MHz) for QDR2+
#NET "pin_in_refclk_clk_p<1>" LOC = "P23" | IOSTANDARD = LVDS_25;
#NET "pin_in_refclk_clk_n<1>" LOC = "N23" | IOSTANDARD = LVDS_25;
#NET "pin_out_refclk_oe<1>"   LOC = "A8"  | IOSTANDARD = LVCMOS25;
##NET "pin_out_refclk_sda<0>"  LOC = "D8"  | IOSTANDARD = LVCMOS25;
##NET "pin_out_refclk_scl<0>"  LOC = "A9"  | IOSTANDARD = LVCMOS25;

NET "g_usrclk<0>" TNM_NET = TNM_PLL_REF_CLK;
NET "g_usrclk<1>" TNM_NET = TNM_PLL_MEM_CLK;
NET "g_usrclk<2>" TNM_NET = TNM_PLL_TMR_CLK;
NET "g_host_clk"  TNM_NET = TNM_HOST_CLK;
NET "i_ethphy_out_clk"  TNM_NET = TNM_ETH_CLK;
NET "g_usr_highclk" TNM_NET = TNM_MIG_CLK0;
NET "g_usrclk<4>" TNM_NET = TNM_MIG_CLK1;
#NET "m_prom/i_clk_en" TNM_NET = TNM_PROM_EN;

TIMESPEC TS_PLL_MEM_CLK = PERIOD TNM_PLL_MEM_CLK  2.5  ns  HIGH 50%; # 400MHz clock to DDR3 memory infrastructure
TIMESPEC TS_PLL_TMR_CLK = PERIOD TNM_PLL_TMR_CLK  10.0 ns  HIGH 50%; # 100MHz
TIMESPEC TS_PLL_REF_CLK = PERIOD TNM_PLL_REF_CLK  5.0  ns  HIGH 50%; # 200MHz
TIMESPEC TS_HOST_CLK    = PERIOD TNM_HOST_CLK     4.0  ns  HIGH 50%; # 250MHz
TIMESPEC TS_ETH_CLK     = PERIOD TNM_ETH_CLK      6.4  ns  HIGH 50%; # 156.25MHz
TIMESPEC TS_MIG_CLK0    = PERIOD TNM_MIG_CLK0     6.0  ns  HIGH 50%; # 166MHz #3.33  ns  HIGH 50%; # 300MHz
TIMESPEC TS_MIG_CLK1    = PERIOD TNM_MIG_CLK1     3.0  ns  HIGH 50%; # 333MHz # 2.5  ns  HIGH 50%; #

TIMEGRP "MEM_grp" = TNM_PLL_MEM_CLK;
TIMEGRP "TMR_grp" = TNM_PLL_TMR_CLK;
TIMEGRP "HOST_grp" = TNM_HOST_CLK;
TIMEGRP "ETH_grp" = TNM_ETH_CLK;
TIMEGRP "MEM2_grp" = TNM_MIG_CLK1;

TIMESPEC "TS_host2eth" = FROM "HOST_grp" TO "ETH_grp" TS_ETH_CLK / 2 DATAPATHONLY;
TIMESPEC "TS_eth2host" = FROM "ETH_grp" TO "HOST_grp" TS_HOST_CLK / 2 DATAPATHONLY;

TIMESPEC "TS_host2prom" = FROM "HOST_grp" TO "TMR_grp" TS_PLL_TMR_CLK / 2 DATAPATHONLY;
TIMESPEC "TS_prom2host" = FROM "TMR_grp" TO "HOST_grp" TS_HOST_CLK / 2 DATAPATHONLY;

TIMESPEC "TS_host2mem" = FROM "HOST_grp" TO "TNM_MIG_CLK0" TS_MIG_CLK0 / 2 DATAPATHONLY;
TIMESPEC "TS_mem2host" = FROM "TNM_MIG_CLK0" TO "HOST_grp" TS_HOST_CLK / 2 DATAPATHONLY;

TIMESPEC "TS_eth2vctrl" = FROM "ETH_grp" TO "MEM2_grp" TS_MIG_CLK1 / 2 DATAPATHONLY;

#TIMESPEC "TS_prom_en" = FROM "TNM_PROM_EN" TO "TNM_PROM_EN" TS_PLL_TMR_CLK * 16 DATAPATHONLY;

#############################################################################
###############       Проект Ethernet        ################################
#############################################################################
#NET "pin_out_ethphy_rst"    LOC = "E10" | IOSTANDARD = LVCMOS25;
NET "pin_inout_ethphy_mdio" LOC = "E10" | IOSTANDARD = LVCMOS25;
NET "pin_out_ethphy_mdc"    LOC = "D10" | IOSTANDARD = LVCMOS25;

NET "pin_out_ethphy_fiber_clk_sel<0>" LOC = "E11" | IOSTANDARD = LVCMOS25;
NET "pin_out_ethphy_fiber_clk_sel<1>" LOC = "C11" | IOSTANDARD = LVCMOS25;
NET "pin_out_ethphy_fiber_clk_oe_n"   LOC = "D11" | IOSTANDARD = LVCMOS25;

#--------------------------
#-- FIBER - SFP0
#--------------------------
NET "pin_in_ethphy_fiber_sfp_txfault" LOC = "J8"  | IOSTANDARD = LVCMOS25;
NET "pin_in_ethphy_fiber_sfp_sd"      LOC = "H13" | IOSTANDARD = LVCMOS25;#signal detect
NET "pin_out_ethphy_fiber_sfp_txdis"  LOC = "H9"  | IOSTANDARD = LVCMOS25;
NET "pin_out_ethphy_fiber_sfp_rs<0>"  LOC = "J13" | IOSTANDARD = LVCMOS25;
NET "pin_out_ethphy_fiber_sfp_rs<1>"  LOC = "J11" | IOSTANDARD = LVCMOS25;


#############################################################
##ETHG_PMA0 (10G)
#############################################################
#######################################################################
# Clock frequencies/periods and clock management                      #
#                                                                     #
#######################################################################
NET "m_eth/gen_use_on.m_main/m_phy/*q1_clk0_refclk_i" TNM_NET="refclk";

TIMESPEC "TS_refclk" = PERIOD "refclk" 6400 ps;

NET "m_eth/gen_use_on.m_main/m_phy/*clk156_buf*" TNM_NET="clk156";

TIMESPEC "TS_clk156" = PERIOD "clk156" 6400 ps;

NET "m_eth/gen_use_on.m_main/m_phy/*gt0_rxoutclk_i" TNM_NET="rxoutclk";

TIMESPEC "TS_rxoutclk" = PERIOD "rxoutclk" 3103 ps;

NET "m_eth/gen_use_on.m_main/m_phy/*gt0_txoutclk_i" TNM_NET="txoutclk";

TIMESPEC "TS_txoutclk" = PERIOD "txoutclk" 3103 ps;

NET "m_eth/gen_use_on.m_main/m_phy/*txclk322" TNM_NET="txclk322";

TIMESPEC "TS_txclk322" = PERIOD "txclk322" 3103 ps;

NET "m_eth/gen_use_on.m_main/m_phy/*rxclk322" TNM_NET="rxusrclk2";

TIMESPEC "TS_rxusrclk2" = PERIOD "rxusrclk2" 3103 ps;

NET "m_eth/gen_use_on.m_main/m_phy/*rxusrclk2_en156*" TNM_NET = FFS "rxusrclk_en_grp";

TIMESPEC "TS_rx_multiclk" = FROM "rxusrclk_en_grp" to "rxusrclk_en_grp" TS_rxusrclk2*2;

NET "m_eth/gen_use_on.m_main/m_phy/*dclk_buf" TNM_NET="dclk";

TIMESPEC "TS_dclk" = PERIOD "dclk" TS_clk156*2;

NET "m_eth/gen_use_on.m_main/m_phy/*cable_pull_reset" MAXDELAY = 2.0 ns;
NET "m_eth/gen_use_on.m_main/m_phy/*cable_unpull_reset" MAXDELAY = 2.0 ns;

#-----------------------------------------------------------
# Transceiver I/O placement:                               -
#-----------------------------------------------------------
INST "m_eth/gen_use_on.m_main/m_phy/*gtxe2_i" LOC = "GTXE2_CHANNEL_X0Y6";
INST "m_eth/gen_use_on.m_main/m_phy/*gtxe2_common_0_i" LOC = "GTXE2_COMMON_X0Y1";

TIMESPEC "TS_rxusrclk2_to_clk156" = FROM rxusrclk2 TO clk156 TIG;

TIMESPEC "TS_rxusrclk2_to_txclk322" = FROM rxusrclk2 TO txclk322 TIG;

TIMESPEC "TS_clk156_to_txclk322" = FROM clk156 TO txclk322 TIG;

TIMESPEC "TS_clk156_to_refclk" = FROM clk156 TO refclk TIG;

TIMESPEC "TS_txclk322_to_clk156" = FROM txclk322 TO clk156 TIG;

TIMESPEC "TS_rxusrclk2_to_refclk" = FROM rxusrclk2 TO refclk TIG;


#--------------------------
#-- FIBER - SFP1
#--------------------------
#NET "pin_in_ethphy_fiber_sfp_txfault" LOC = "J10"  | IOSTANDARD = LVCMOS25;
#NET "pin_in_ethphy_fiber_sfp_sd"      LOC = "F8"   | IOSTANDARD = LVCMOS25;
#NET "pin_out_ethphy_fiber_sfp_tx_dis" LOC = "H14"  | IOSTANDARD = LVCMOS25;
#INST "m_eth/gen_use_on.m_main/m_phy/*/core_wrapper/transceiver_inst/gtwizard_inst/gtwizard_i/gt0_gtwizard_i/gtxe2_i" LOC = "GTXE2_CHANNEL_X0Y7";



#############################################################################
###############       Проект PCI-Express     ################################
#############################################################################
NET "pin_in_pciexp_rstn" TIG;
NET "pin_in_pciexp_rstn" LOC = "H18" | IOSTANDARD = LVCMOS18 | PULLUP | NODELAY ;

INST "m_clocks/m_buf_pciexp" LOC = IBUFDS_GTE2_X0Y0;

INST "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[0].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y0; # PCIe Lane 0
INST "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[1].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y1; # PCIe Lane 1
INST "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[2].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y2; # PCIe Lane 2
INST "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[3].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y3; # PCIe Lane 3

# PCI Express Block placement. This constraint selects the PCI Express Block to be used.
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_block_i" LOC = PCIE_X0Y0;

# BlockRAM placement
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[7].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X5Y35 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[6].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X5Y36 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[5].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X5Y27 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[6].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X5Y28 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[7].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X5Y24 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[5].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y37 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[4].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y36 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y35 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y34 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y33 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y32 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y31 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y30 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y29 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y28 ;
INST "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[4].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X4Y27 ;

###############################################################################
# Timing Constraints
###############################################################################
NET "g_usrclk<3>" TNM_NET = "SYSCLK";
NET "m_host/gen_sim_off.m_pcie/gen_ext_clk.m_core_pipe_clock/clk_125mhz" TNM_NET = "CLK_125" ;
NET "m_host/gen_sim_off.m_pcie/gen_ext_clk.m_core_pipe_clock/clk_250mhz" TNM_NET = "CLK_250" ;
NET "m_host/gen_sim_off.m_pcie/gen_ext_clk.m_core_pipe_clock/userclk1" TNM_NET = "CLK_USERCLK" ;
NET "m_host/gen_sim_off.m_pcie/gen_ext_clk.m_core_pipe_clock/userclk2" TNM_NET = "CLK_USERCLK2" ;

TIMESPEC "TS_SYSCLK"  = PERIOD "SYSCLK" 250 MHz HIGH 50 % ;
TIMESPEC "TS_CLK_250" = PERIOD "CLK_250" TS_SYSCLK*1 HIGH 50 % PRIORITY 1;
TIMESPEC "TS_CLK_125" = PERIOD "CLK_125" TS_SYSCLK/2 HIGH 50 % PRIORITY 2;
TIMESPEC "TS_CLK_USERCLK" = PERIOD "CLK_USERCLK" TS_SYSCLK*1 HIGH 50 %;
TIMESPEC "TS_CLK_USERCLK2" = PERIOD "CLK_USERCLK2" TS_SYSCLK*1 HIGH 50 %;

INST "m_host/gen_sim_off.m_pcie/gen_ext_clk.m_core_pipe_clock/mmcm_i"  LOC = MMCME2_ADV_X0Y2;

PIN "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_block_i.PLPHYLNKUPN" TIG;
PIN "m_host/gen_sim_off.m_pcie/m_core/pcie_top_i/pcie_7x_i/pcie_block_i.PLRECEIVEDHOTRST" TIG;

PIN "m_host/gen_sim_off.m_pcie/gen_ext_clk.m_core_pipe_clock/mmcm_i.RST" TIG ;
NET "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/user_resetdone*" TIG;
NET "m_host/gen_sim_off.m_pcie/gen_ext_clk.m_core_pipe_clock/pclk_sel" TIG;
NET "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[0].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[1].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[2].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_lane[3].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";

TIMESPEC "TS_PIPE_RATE" = FROM "MC_PIPE" TS_CLK_USERCLK*0.5;

NET "m_host/gen_sim_off.m_pcie/m_core/gt_top_i/pipe_wrapper_i/pipe_reset.pipe_reset_i/cpllreset" TIG;



###############################################################################
### AXI: MEMEORY ARBITER BANK0
###############################################################################
NET "m_mem_arb/gen_chcount_3.m_arb/*_resync*" TNM = FFS "mem_arbch_reset_resync";
NET "m_mem_arb/gen_chcount_3.m_arb/*INTERCONNECT_ARESETN" TNM = FFS "mem_arbch_reset_resync";
TIMEGRP "mem_arbch_reset_source" = FFS PADS;
TIMESPEC "TS_mem_arbch_reset_resync" = FROM "mem_arbch_reset_source" TO "mem_arbch_reset_resync" TIG;



########################################################################
# Memory Device: DDR3_SDRAM->UDIMM
########################################################################

##################################################################################
# Location Constraints
##################################################################################
NET  "pin_inout_phymem[0]_dq<0>"      LOC = "AF20"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<1>"      LOC = "AF19"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<2>"      LOC = "AF17"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<3>"      LOC = "AE17"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<4>"      LOC = "AD16"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<5>"      LOC = "AF15"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<6>"      LOC = "AF14"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<7>"      LOC = "AD15"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<8>"      LOC = "AA18"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<9>"      LOC = "AA17"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<10>"     LOC = "AB15"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<11>"     LOC = "AB16"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<12>"     LOC = "AD14"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<13>"     LOC = "AA15"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<14>"     LOC = "AB14"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<15>"     LOC = "AA14"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<16>"     LOC = "AB19"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<17>"     LOC = "AA20"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<18>"     LOC = "AD19"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<19>"     LOC = "AD18"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<20>"     LOC = "AC18"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<21>"     LOC = "AC17"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<22>"     LOC = "AB17"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<23>"     LOC = "AA19"   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<24>"     LOC = "V18 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<25>"     LOC = "V19 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<26>"     LOC = "Y17 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<27>"     LOC = "V17 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<28>"     LOC = "W15 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<29>"     LOC = "W16 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<30>"     LOC = "V14 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<31>"     LOC = "W14 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<32>"     LOC = "U5  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<33>"     LOC = "U2  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<34>"     LOC = "V4  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<35>"     LOC = "V6  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<36>"     LOC = "W3  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<37>"     LOC = "V3  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<38>"     LOC = "U1  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<39>"     LOC = "U7  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<40>"     LOC = "Y1  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<41>"     LOC = "V2  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<42>"     LOC = "AB2 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<43>"     LOC = "AA2 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<44>"     LOC = "Y2  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<45>"     LOC = "V1  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<46>"     LOC = "AA3 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<47>"     LOC = "W1  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<48>"     LOC = "AA4 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<49>"     LOC = "AB4 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<50>"     LOC = "Y6  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<51>"     LOC = "AB6 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<52>"     LOC = "AC3 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<53>"     LOC = "AC4 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<54>"     LOC = "AD6 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<55>"     LOC = "Y5  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<56>"     LOC = "AE3 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<57>"     LOC = "AD4 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<58>"     LOC = "AE6 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<59>"     LOC = "AE5 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<60>"     LOC = "AD1 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<61>"     LOC = "AF2 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<62>"     LOC = "AF3 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<63>"     LOC = "AE2 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<64>"     LOC = "V11 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<65>"     LOC = "W11 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<66>"     LOC = "Y10 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<67>"     LOC = "Y11 "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<68>"     LOC = "V9  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<69>"     LOC = "Y8  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<70>"     LOC = "Y7  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dq<71>"     LOC = "V7  "   |   IOSTANDARD = SSTL15_T_DCI       |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<14>"        LOC = "AC8 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<13>"        LOC = "AA7 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<12>"        LOC = "AD8 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<11>"        LOC = "AA9 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<10>"        LOC = "AD9 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<9>"         LOC = "AF7 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<8>"         LOC = "AE7 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<7>"         LOC = "AC9 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<6>"         LOC = "AC7 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<5>"         LOC = "AA8 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<4>"         LOC = "AB9 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<3>"         LOC = "AB7 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<2>"         LOC = "AC13"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<1>"         LOC = "AB10"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_a<0>"         LOC = "AA10"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_ba<2>"        LOC = "AD13"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_ba<1>"        LOC = "Y12 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_ba<0>"        LOC = "AE13"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_ras_n"        LOC = "AD10"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_cas_n"        LOC = "AF10"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_we_n"         LOC = "AF13"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_rst_n"        LOC = "AB20"   |   IOSTANDARD = LVCMOS15           |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_cke<0>"       LOC = "AD11"   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_odt<0>"       LOC = "AE8 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_cs_n<0>"      LOC = "AF8 "   |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<0>"   LOC = "AE18"   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<0>"   LOC = "AF18"   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<1>"   LOC = "Y15 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<1>"   LOC = "Y16 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<2>"   LOC = "AD20"   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<2>"   LOC = "AE20"   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<3>"   LOC = "W18 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<3>"   LOC = "W19 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<4>"   LOC = "W6  "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<4>"   LOC = "W5  "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<5>"   LOC = "AB1 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<5>"   LOC = "AC1 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<6>"   LOC = "AA5 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<6>"   LOC = "AB5 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<7>"   LOC = "AF5 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<7>"   LOC = "AF4 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_p<8>"   LOC = "W10 "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_inout_phymem[0]_dqs_n<8>"   LOC = "W9  "   |   IOSTANDARD = DIFF_SSTL15_T_DCI  |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_ck_p<0>"      LOC = "AE12"   |   IOSTANDARD = DIFF_SSTL15        |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_ck_n<0>"      LOC = "AF12"   |   IOSTANDARD = DIFF_SSTL15        |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[0]"        LOC ="AE15"    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[1]"        LOC ="AC14"    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[2]"        LOC ="AC19"    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[3]"        LOC ="V16 "    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[4]"        LOC ="U6  "    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[5]"        LOC ="Y3  "    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[6]"        LOC ="AC6 "    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[7]"        LOC ="AE1 "    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;
NET  "pin_out_phymem[0]_dm[8]"        LOC ="V8  "    |   IOSTANDARD = SSTL15             |  VCCAUX_IO = NORMAL  |  SLEW = FAST ;


INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y3;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y2;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y1;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC=PHASER_OUT_PHY_X1Y0;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y6;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y5;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC=PHASER_OUT_PHY_X1Y4;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y7;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y11;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y10;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y9;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC=PHASER_OUT_PHY_X1Y8;

INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y3;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y2;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y1;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y0;
## INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y6;
## INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y5;
## INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y4;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y7;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y11;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y10;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y9;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y8;

INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y3;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y2;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y1;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC=OUT_FIFO_X1Y0;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y6;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y5;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC=OUT_FIFO_X1Y4;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y7;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y11;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y10;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y9;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC=OUT_FIFO_X1Y8;

INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y3;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y2;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y1;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y0;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y7;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y11;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y10;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y9;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y8;

INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y0;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y1;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y2;

INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y0;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y1;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y2;

INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y43;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y31;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y19;
INST "m_mem_ctrl/*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y7;
INST "m_mem_ctrl/*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y93;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y143;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y131;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y119;
INST "m_mem_ctrl/*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y107;

INST "m_mem_ctrl/*/u_ddr3_infrastructure/plle2_i" LOC=PLLE2_ADV_X1Y1;
INST "m_mem_ctrl/*/u_ddr3_infrastructure/gen_mmcm.mmcm_i" LOC=MMCME2_ADV_X1Y1;

NET "m_mem_ctrl/*/iserdes_clk" TNM_NET = "TNM_ISERDES_CLK";
INST "m_mem_ctrl/*/mc0/mc_read_idle_r" TNM = "TNM_SOURCE_IDLE";
INST "m_mem_ctrl/*/input_[?].iserdes_dq_.iserdesdq" TNM = "TNM_DEST_ISERDES";
TIMESPEC "TS_ISERDES_CLOCK" = PERIOD "TNM_ISERDES_CLK" 1500 ps;
TIMESPEC TS_MULTICYCLEPATH = FROM "TNM_SOURCE_IDLE" TO "TNM_DEST_ISERDES" TS_ISERDES_CLOCK*6;

INST "m_mem_ctrl/*/device_temp_sync_r1*" TNM="TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC";
TIMESPEC "TS_MULTICYCLEPATH_DEVICE_TEMP_SYNC" = TO "TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC" 20 ns DATAPATHONLY;


#############################################################################
###############            FLASH             ################################
#############################################################################
NET  "pin_out_prom_a<0>"        LOC="J23";
NET  "pin_out_prom_a<1>"        LOC="K23";
NET  "pin_out_prom_a<2>"        LOC="K22";
NET  "pin_out_prom_a<3>"        LOC="L22";
NET  "pin_out_prom_a<4>"        LOC="J25";
NET  "pin_out_prom_a<5>"        LOC="J24";
NET  "pin_out_prom_a<6>"        LOC="H22";
NET  "pin_out_prom_a<7>"        LOC="H24";
NET  "pin_out_prom_a<8>"        LOC="H23";
NET  "pin_out_prom_a<9>"        LOC="G21";
NET  "pin_out_prom_a<10>"       LOC="H21";
NET  "pin_out_prom_a<11>"       LOC="H26";
NET  "pin_out_prom_a<12>"       LOC="J26";
NET  "pin_out_prom_a<13>"       LOC="E26";
NET  "pin_out_prom_a<14>"       LOC="F25";
NET  "pin_out_prom_a<15>"       LOC="G26";
NET  "pin_out_prom_a<16>"       LOC="K17";
NET  "pin_out_prom_a<17>"       LOC="K16";
NET  "pin_out_prom_a<18>"       LOC="L20";
NET  "pin_out_prom_a<19>"       LOC="J19";
NET  "pin_out_prom_a<20>"       LOC="J18";
NET  "pin_out_prom_a<21>"       LOC="J20";
NET  "pin_out_prom_a<22>"       LOC="K20";
NET  "pin_out_prom_a<23>"       LOC="G20";
NET  "pin_out_prom_a<24>"       LOC="H19";
NET  "pin_out_prom_a<25>"       LOC="E20";
NET "pin_out_prom_a<*>" IOSTANDARD = LVCMOS18;

NET  "pin_inout_prom_d<0>"      LOC="B24";
NET  "pin_inout_prom_d<1>"      LOC="A25";
NET  "pin_inout_prom_d<2>"      LOC="B22";
NET  "pin_inout_prom_d<3>"      LOC="A22";
NET  "pin_inout_prom_d<4>"      LOC="A23";
NET  "pin_inout_prom_d<5>"      LOC="A24";
NET  "pin_inout_prom_d<6>"      LOC="D26";
NET  "pin_inout_prom_d<7>"      LOC="C26";
NET  "pin_inout_prom_d<8>"      LOC="C24";
NET  "pin_inout_prom_d<9>"      LOC="D21";
NET  "pin_inout_prom_d<10>"     LOC="C22";
NET  "pin_inout_prom_d<11>"     LOC="B20";
NET  "pin_inout_prom_d<12>"     LOC="A20";
NET  "pin_inout_prom_d<13>"     LOC="E22";
NET  "pin_inout_prom_d<14>"     LOC="C21";
NET  "pin_inout_prom_d<15>"     LOC="B21";
NET "pin_inout_prom_d<*>" IOSTANDARD = LVCMOS18;

NET  "pin_out_prom_we_n"        LOC="L18"  |  IOSTANDARD = LVCMOS18;
NET  "pin_out_prom_cs_n"        LOC="C23"  |  IOSTANDARD = LVCMOS18;
NET  "pin_out_prom_oe_n"        LOC="M17"  |  IOSTANDARD = LVCMOS18;
#NET  "pin_out_prom_av_n"        LOC="D20";


